{#
Copyright (C) 2014  Jim Turner

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{%- macro oneentry(entry) -%}
  {% if entry.name_short is defined %}
    {% set name = entry.name_short %}
  {% elif entry.name is defined %}
    {% set name = entry.name %}
  {% elif entry.degree is defined %}
    {% set name = entry.degree %}
  {% endif %}
  {% if entry.title is defined %}
    {% set title = entry.title %}
  {% elif entry.university is defined %}
    {% set title = entry.university %}
  {% endif %}

.. container:: resume resume-entry

   .. container:: resume resume-entry-head

      {% if name is defined %}
      .. container:: resume resume-entry-name

         {{ name }}
        {% if entry.grade is defined %}
         – {{ entry.grade }}
        {% endif %}

      {% endif %}
      {% if entry.date is defined %}
      .. container:: resume resume-entry-date

         {{ entry.date }}

      {% endif %}

   {% if title is defined or entry.location is defined %}
   .. container:: resume resume-entry-subhead

      {% if title is defined %}
      .. container:: resume resume-entry-title

        {{ title }}

      {% endif %}
      {% if entry.location is defined %}
      .. container:: resume resume-entry-location

         {{ entry.location }}

      {% endif %}
   {% endif %}

   {% if entry.description is defined %}
   .. container:: resume resume-entry-description

     {% if entry.description is string %}
      {{ entry.description }}
     {% else %}
       {% for item in entry.description %}
      * {{ item }}
       {% endfor %}
     {% endif %}
   {% endif %}

{% endmacro %}

{%- macro entrylist(entries) -%}
{% for entry in entries %}{{ oneentry(entry) }}{% endfor %}
{%- endmacro -%}

.. _resume-summary:

Summary
=======

{{ summary }}

.. _resume-education:

Education
=========

{{ entrylist(education) }}

.. _resume-experience:

Work & Research Experience
==========================

{{ entrylist(experience) }}

{% if skills is defined %}
.. _resume-skills:

Skills
======

{% for skill in skills %}
* *{{ skill.name }}*{% if skill.description is defined %}: {{ skill.description }}{% endif %}

{% endfor %}

{% endif %}
.. _resume-publications:

Publications & Presentations
============================

{% for item in publications %}
.. rst-class:: resume-publication

  {{ item.text }}
  {% if item.links is defined %}
  ({% for link in item.links %}`{{ link.text }} <{{ link.href }}>`__{% if not loop.last %}, {% endif %}{% endfor %})
  {% endif %}

{% endfor %}

.. _resume-extracurricular:

Leadership, Involvement, & Service
======================================

{{ entrylist(extracurricular) }}
