{#
Copyright (C) 2014  Jim Turner

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{%- set WIDTH = 90 -%}

{% macro oneentry(entry) %}
  {% if entry.name_short is defined %}
    {% set name = entry.name_short %}
  {% elif entry.name is defined %}
    {% set name = entry.name %}
  {% elif entry.degree is defined %}
    {% set name = entry.degree %}
  {% endif %}
  {% if entry.title is defined %}
    {% set title = entry.title %}
  {% elif entry.university is defined %}
    {% set title = entry.university %}
  {% endif %}
  {# First line #}
  {% if name is defined and entry.grade is defined and entry.date is defined %}
{{ (name + " – " + entry.grade)|left_right(entry.date,WIDTH) }}
  {% elif name is defined and entry.grade is defined %}
{{ name }} – {{ entry.grade }}
  {% elif name is defined and entry.date is defined %}
{{ name|left_right(entry.date,WIDTH) }}
  {% elif entry.grade is defined and entry.date is defined %}
{{ entry.grade|left_right(entry.date,WIDTH) }}
  {% elif name is defined %}
{{ name }}
  {% elif entry.grade is defined %}
{{ entry.grade }}
  {% elif entry.date is defined %}
{{ ""|left_right(entry.date,WIDTH) }}
  {% endif %}
  {# Second line #}
  {% if title is defined and entry.location is defined %}
{{ title|left_right(entry.location,WIDTH) }}
  {% elif title is defined %}
{{ title }}
  {% elif entry.location is defined %}
{{ ""|left_right(entry.location,WIDTH) }}
  {% endif %}
  {# Description #}
  {% if entry.description is defined %}
    {% if entry.description is string %}

{{ entry.description|hard_wrap(WIDTH,4) }}
    {% else %}

      {% for item in entry.description %}
{{ item|hard_wrap(WIDTH,4,"*") }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}

{%- macro entrylist(entries) -%}
  {% for entry in entries %}
{{ oneentry(entry) }}{% if not loop.last %}

  {% endif %}{% endfor %}
{%- endmacro -%}

{{ "#" * (contact.name.first + " " + contact.name.last)|length }}
{{ contact.name.first }} {{ contact.name.last }}
{{ "#" * (contact.name.first + " " + contact.name.last)|length }}

{% if contact.address is defined %}
Address: {{ contact.address.street }} – {{ contact.address.city }}
{% if contact.address.country is defined %}
{{ contact.address.country }}
{% endif %}
{% endif %}
{% if contact.phone is defined %}
Phone:   {{ contact.phone }}
{% endif %}
{% if contact.email is defined %}
Email:   {{ contact.email }}
{% endif %}
{% if contact.linkedin is defined %}
Social:  linkedin.com/in/{{ contact.linkedin }}
{% endif %}
{% if contact.web is defined %}
Web:     {{ contact.web }}
{% endif %}


Summary
=======

{{ summary|hard_wrap(WIDTH) }}


Education
=========

{{ entrylist(education) }}

Publications & Presentations
============================

{% for item in publications %}
{{ item.text|hard_wrap(WIDTH,0,"",2) }}

{% endfor %}

Work & Research Experience
==========================

{{ entrylist(experience) }}

{% if skills is defined %}
Skills
======

{% for skill in skills %}
  {% if skill.description is defined %}
{{ (skill.name + ": " + skill.description)|hard_wrap(WIDTH,2,"*") }}
  {% else %}
{{ skill.name|hard_wrap(WIDTH,2,"*") }}
  {% endif %}
{% endfor %}


{% endif %}
Leadership, Involvement, & Service
==================================

{{ entrylist(extracurricular) }}
