%%<
Copyright (C) 2014  Jim Turner

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
>%%

%<- macro oneentry(entry) ->%
\cventry{
    %<- if entry.date is defined ->%
<< entry.date >>
    %<- endif ->%
}{
    %<- if entry.title is defined ->%
<< entry.title >>
    %<- elif entry.university is defined ->%
<< entry.university >>
      %<- if entry.location is defined ->%
, << entry.location >>
      %<- endif ->%
    %<- endif ->%
}{
    %<- if entry.name is defined ->%
<< entry.name >>
    %<- elif entry.degree is defined ->%
<< entry.degree >>
    %<- endif ->%
}{
    %<- if entry.location is defined and entry.university is not defined ->%
<< entry.location >>
    %<- endif ->%
}{
    %<- if entry.grade is defined ->%
<< entry.grade >>
    %<- endif ->%
}   %<- if entry.description is defined >%
{
      %< if entry.multicols is defined >%
  \begin{multicols}{<< entry.multicols >>}
      %< endif >%
      %< if entry.description is string >%
  << entry.description >>
      %< elif entry.description is sequence >%
  \begin{itemize}
        %< for item in entry.description >%
  \item << item >>
        %< endfor >%
  \end{itemize}
      %< endif >%
      %< if entry.multicols is defined >%
  \end{multicols}
      %< endif >%
}
    %< else >%
{}
    %< endif >%
%< endmacro >%

%<- macro entrylist(entries) ->%
  %<- for entry in entries ->%
<< oneentry(entry) >>
    %<- if not loop.last >%

    %< endif ->%
  %<- endfor ->%
%<- endmacro ->%

\documentclass[10pt,letterpaper,sans]{moderncv}

\moderncvstyle{bankingcustom}
\moderncvcolor{bluecustom}
\renewcommand{\familydefault}{\sfdefault}
\usepackage[condensed]{tgheros}
\nopagenumbers{}

\AtEndPreamble{
  \hypersetup{pdftitle={<< contact.name.first >> << contact.name.last >>}}
}

\usepackage{multicol}

\usepackage[hmargin=0.65in,tmargin=0.5in,bmargin=0.5in,noheadfoot]{geometry}

\renewcommand{\refname}{Publications \& Presentations}

\name{<< contact.name.first >>}{<< contact.name.last >>}
%< if contact.address is defined >%
\address{
  %<- if contact.address.street is defined ->%
  << contact.address.street >>
  %<- endif ->%
}{
  %<- if contact.address.city is defined ->%
  << contact.address.city >>
  %<- endif ->%
}
%< if contact.address is defined and contact.address.country is defined >%
{<< contact.address.country >>}
%< endif >%
%< endif >%
%< if contact.phone is defined >%
\phone{<< contact.phone >>}
%< endif >%
%< if contact.email is defined >%
\email{<< contact.email >>}
%< endif >%
%< if contact.linkedin is defined >%
\social[linkedin]{<< contact.linkedin >>}
%< endif >%
%< if contact.web is defined >%
\homepage{<< contact.web >>}
%< endif >%

\begin{document}
\makecvtitle

\section{Summary}

<< summary >>

\section{Education}

<< entrylist(education) >>

% Bibliography
\begin{thebibliography}{99}
%< for item in publications >%
\bibitem{<< item.key >>} << item.text >>
%< endfor >%
\end{thebibliography}

\section{Work \& Research Experience}

<< entrylist(experience) >>

%< if skills is defined >%

\section{Skills}

%< for skill in skills >%
{\textbf{<< skill.name >>}
  %<- if skill.description is defined ->%
: << skill.description >>
  %<- endif ->%
  %<- if not loop.last ->%
}\hfill\labelitemi{}\hfill%
  %< endif >%
%< endfor >%

%< endif >%

\section{Leadership, Involvement, \& Service}

<< entrylist(extracurricular) >>

\end{document}
